<!-- File: confirmation.html -->
<!-- Author: Evren Yaman (yamane@bu.edu), 9/16/2025 -->
<!-- Description: Extends the base.html file and renders the confirmation page after a succesful order request. -->
{% extends 'restaurant/base.html' %}

    {% block content %}
    <div>
        <h2>Confirmation Page</h2>

        <p>Thanks for the order, {{name}}.</p>

        <p>It will be ready at {{readytime}}</p>

        <h4>Order Contents:</h4>
        {% for item in items %}
            <li>{{ item }}</li>
        {% endfor %}
        Your total: {{total}}

        <h4>Special Instrustions:</h4>
        {{instructions}}

        <h4>Allergies:</h4>
        {{allergies}}

        <h4>Contact:</h4>
        <p>Phone: {{phone}}</p>
        <p>Email: {{email}}</p>
    </div>
    {% endblock %}