<!-- File: about.html -->
<!-- Author: Evren Yaman (yamane@bu.edu), 9/11/2025 -->
<!-- Description: Extends the base.html file and includes some basic information about me and the web application function. -->
{% extends "quotes/base.html" %}

{% block content %}
  <h2>About this App</h2>
  <p>
    This application was created to show various Napoleon Bonaparte quotes and images.
  </p>
  <p>
    Napoleon Bonaparte was a French military leader and emperor who rose to prominence during
    the French Revolution and became one of the most celebrated military strategists in history.
  </p>
  <p>
    This page was brought to you by Evren Yaman, a Boston University Computer Science student.
  </p>
{% endblock %}
