<!-- File: base.html -->
<!-- Author: Evren Yaman (yamane@bu.edu), 9/11/2025 -->
<!-- Description: This is the html that is standard across every page in the web application. It uses the styles.css stylesheet from the -->
<!-- static folder. It provides a header, footer, and nav bar for every page. -->
{% load static %}
<html>
    <head>
        <title> Napoleon Quotes </title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <nav>
            <li><a href="{% url 'quote_page' %}">Quote</a></li>
            <li><a href="{% url 'show_all_page' %}">Show All</a></li>
            <li><a href="{% url 'about_page' %}">About</a></li>
        </nav>
        <div class="wrapper">
            <h1>Napoleon Quotes</h1>
            {% block content %}
            <!-- html from the other pages that extend from this base.html file -->
            {% endblock %}
        </div>
        <footer>
            Created by Evren Yaman at {{time}}.
        </footer>
    </body>
</html>